@import 'variables';

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-select/sass/bootstrap-select';

@import 'jetbrains-mono';
@import 'parts/messages-index';

.logo {
    font: 500 18px 'JetBrains Mono', monospace;

    u {
        text-decoration: none;
        border-bottom: 2px solid #000;
    }
}

.breadcrumb {
    background: none;
    padding: 0;
}

.bootstrap-select .dropdown-menu a {
    &.active, &:active {
        &:not([href]):hover {
            color: #fff;
        }
    }
}

.bs-searchbox {
    padding-bottom: 12px;
}

.bootstrap-select .no-results {
    background: none;
}

.country-flag {
    height: 2rem;

    &:not(:last-child) {
        @extend .mr-3;
    }
}

.text-super-muted {
    color: #c3c7cb;

    a {
        color: #9fcbef;
    }
}
