@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import '~flag-icon-css/sass/flag-icon';

.message-type-col {
  @extend .col-1;
  flex: 0 0 52px;
  max-width: 52px;
}

.message-field {
  &:not(.is-modified) {
    border-top-right-radius: $input-border-radius !important;
    border-bottom-right-radius: $input-border-radius !important;
  }

  &.is-accepted {
    border-color: $success;

    &:focus {
      border-color: $success;
      box-shadow: 0 0 0 $input-focus-width rgba($success, .25);
    }
  }

  &.is-modified {
    border-color: $dark;

    &:focus {
      border-color: $dark;
      box-shadow: 0 0 0 $input-focus-width rgba($dark, .25);
    }
  }

  &.is-modified + .message-submit {
    display: flex;
  }
}

.message-submit {
  display: none;
}

